{% extends '@OHMediaBackend/base.html.twig' %}

{% block meta_title %}Logos{% endblock %}

{% block breadcrumbs %}
  {{ bootstrap_breadcrumbs(
    bootstrap_breadcrumb(bootstrap_icon('patch-check') ~ ' Logos', 'logo_index'),
  ) }}
{% endblock %}

{% set can_create_logo = is_granted(attributes.create, new_logo) %}

{% set create_logo_href = path('logo_create') %}

{% block actions %}
  {% if can_create_logo %}
    <a href="{{ create_logo_href }}" class="btn btn-primary">
      {{ bootstrap_icon('plus-lg') }}
      Add Logo
    </a>
  {% endif %}
{% endblock %}

{% block main %}
  {% set logo_count = pagination.count %}

  <div class="card">
    <div class="card-body">
      <div class="card-title card-title-with-count">
        <h1 class="card-title-heading">Logos</h1>
        <div class="card-title-count">
          {{ bootstrap_badge_primary(logo_count) }}
        </div>
      </div>

      {{ form_start(search_form) }}
        <div class="row align-items-end">
          <div class="col-lg-6 col-sm-12">
            {{ form_row(search_form.search) }}
          </div>
          <div class="col-lg-12 col-sm-12">
            <button class="btn btn-outline-dark mb-3" type="submit">Search</button>
            <a class="btn btn-secondary mb-3" href="{{ path('logo_index') }}">Reset</a>
          </div>
        </div>
      {{ form_end(search_form) }}

      {% if logo_count %}
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Image</th>
              <th>Name</th>
              <th>Groups</th>
              <th>Last Updated</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for logo in pagination.results %}
              {{ _self.table_row(logo, attributes) }}
            {% endfor %}
          </tbody>
        </table>

        {{ bootstrap_pagination(pagination) }}

        <small>{{ bootstrap_pagination_info(pagination) }}</small>
      {% else %}
        <p>
          No logos found.
          {% if can_create_logo %}
            <a href="{{ create_logo_href }}">Click here to add a logo.</a>
          {% endif %}
        </p>
      {% endif %}
    </div>
  </div>
{% endblock %}

{% macro table_row(logo, attributes) %}
  {% set row_actions = [] %}

  {% if is_granted(attributes.edit, logo) %}
    {% set row_actions = row_actions|merge([{
      route: 'logo_edit',
      route_params: {id: logo.id},
      color: 'secondary',
      icon: 'pen',
      text: 'Edit Logo',
    }]) %}
  {% endif %}

  {% if is_granted(attributes.delete, logo) %}
    {% set row_actions = row_actions|merge([{
      route: 'logo_delete',
      route_params: {id: logo.id},
      color: 'danger',
      icon: 'trash',
      text: 'Delete Logo',
      confirm: 'Are you sure you want to delete this logo? Clicking OK will take you to a verification step to delete this entry.',
    }]) %}
  {% endif %}

  <tr>
    <td>{{ image_tag(logo.image, {
      height: 50,
      style: 'height:50px;object-fit:contain',
    }) }}</td>
    <td>
      {{ logo }}
      <small class="d-block text-muted">{{ logo.url }}</small>
    </td>
    <td>
      {% for group in logo.groups %}
        {{ bootstrap_badge_secondary(group.title) }}
      {% endfor %}
    </td>
    <td>{{ logo.updatedAt|datetime }}</td>
    <td>
      {% include '@OHMediaBackend/widget/row_actions.html.twig' with {
        row_actions: row_actions,
      } only %}
    </td>
  </tr>
{% endmacro %}
